<!-- Insert the company: <input type="text" #company (keyup)="0" [disabled]="ableBox">
-->
<!-- Insert the company: <input type="text" (input)="setCompany($event)"> -->


Insert the company: <input type="text" [(ngModel)]="company">

<div style="text-align: center;">
    <h3>Hallo, my names is {{name}} {{lastname}}</h3>
    <h4>I am {{age}}.</h4>
    <p>And I am currently employed by {{company}}</p>


    {{RegisterText}}
    <br>
    Registered: <input type="radio" value="yes" name="registered" id="register" [checked]="registeredUser" (click)="setRegisteredUser($event)">
    No registered
    <input type="radio" value="no" name="registered" (click)="setRegisteredUser($event)">
    {{getRegisteredUser()}}
</div>

